<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenDespatch.WindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OpenDespatch.WindowsApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <OpenDespatch.WindowsApp.Properties.Settings>
            <setting name="PvxClientId" serializeAs="String">
                <value>Client1</value>
            </setting>
            <setting name="PvxUsername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="PvxPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="PvxApiUrl" serializeAs="String">
                <value>http://localhost/obp/resources/integrationservicev4.asmx</value>
            </setting>
            <setting name="PluginPath" serializeAs="String">
                <value>C:\Temp\Plugins</value>
            </setting>
            <setting name="ArchivePath" serializeAs="String">
                <value />
            </setting>
            <setting name="SalesOrderTemplateHeader" serializeAs="String">
                <value>SalesOrderNumber</value>
            </setting>
            <setting name="TrackingNumberTemplateHeader" serializeAs="String">
                <value>DespatchTrackingNumber</value>
            </setting>
            <setting name="RulesSetting" serializeAs="String">
                <value />
            </setting>
        </OpenDespatch.WindowsApp.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OpenDespatch.WindowsApp.Properties.Settings>
            <setting name="IntegrationV4Demo_PvxApi_IntegrationServiceV4"
                serializeAs="String">
                <value>http://localhost/obp/resources/integrationservicev4.asmx</value>
            </setting>
        </OpenDespatch.WindowsApp.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
